<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sell, Buy, Rent a car !</title>
</head>
<body>
<header>
    <h1>Sell, buy, rent a car!</h1>
    <ul>
        <a href="/client/">Client Panel</a>
    </ul>
    <ul>
        <a href="/dealer/">Dealer Panel</a>
    </ul>
    <ul>
        <a href="/">Main Page</a>
    </ul>
</header>
{{{body}}}
</body>
</html>